body{
	background-image: url("../images/background.jpg");
	/*width: cover;*/
	height: 100%;
	background-repeat: no-repeat;
	/*background-size: 100% 100%;*/
	/*overflow: auto;*/
	overflow-x:hidden;
}

div > h1,
div > h2,
div > h3{
	color: white;
	/*font-family: 'Roboto Mono', monospace;*/
	font-family: 'Overlock SC', cursive;
}

div > h1{
	font-size: 5vw;
	margin-top: 4vh;
}

div > h2{
	font-size: 2vw;
}

.row{
	text-align: center;
	/*margin-top: -9px;*/
}

.players{
	border: solid;
	border-color: black;
	border-width: 2px;
	float: right;
	width: 120px;
	height: 140px;
	/*margin-right: 10px;*/
	margin: 1vw;
	background-color: #99E5FF;
}

.myEnemy{
	border: solid;
	border-color: orange;
	border-width: 2px;
	float: left;
	width: 120px;
	height: 140px;
	margin-right: 10px;
	margin-left: 10px;
	background-color: #99E5FF;
}

.defender{
	margin-top: 0px;
	margin-bottom: 5px;
}

.theEnemy{
	border-color: red;
	/*margin-right: 50px;*/
	/*background-color: black;*/
	float: left;
}

#playerSet{
	/*width: 130px;
	margin-left: auto;
	margin-right: auto;*/
	/*float: right;*/
}

.enemyHeader{
	text-align: left;
	margin-left: 1.8vw;
}

.playerHeader{
	text-align: right;
	margin-right: 1.8vw;
}

.enemySet{
	width: 560px;
	margin-right: auto;
	margin-left: auto;
	/*float: right;*/
}

.enemySet2{
	width: 430px;
	margin-right: auto;
	margin-left: auto;
	color: darkred;
	/*float: right;*/
}

#yourEnemy{
	/*width: 130px;
	margin-left: auto;
	margin-right: auto;*/
	/*float: right;*/
}

.points{
	font-size: 20px;
	color: black;
}

#button{
	clear: both;
	/*margin-right: 200px;*/
	float: right;
	/*margin-bottom: 10px;*/
	margin-right: 3vw;
}

#attackText{
	color: white;
	margin-top: 11vh;
	font-size: 1.8vw;
	/*margin-top: 10px;*/
	/*margin-bottom: 10px;*/
	font-family: 'Overlock SC', cursive;
	/*font-size: 18px;*/

}

button{
	/*padding-left: 5px;*/
	/*padding-right: 5px;*/
	/*background-color: black !important;*/
	border: solid black 2px !important;
	padding-right: 1.8vw !important;
	padding-left: 1.8vw !important;
	font-size: 3vh !important;
}

.winner,
.loose{
	margin-top: 30px;
	margin-bottom: 20px;
}

@media only screen and (max-width: 1024px){	
	
	div > h1{
		font-size: 8vw;
		margin: 4vh;
		margin-bottom: 1vh;
	}

	div > h2{
		margin: 0vw;
		font-size: 6vw;
	}

	div > h3{
		font-size: 5.5vw;
	}

	.players{
		margin-right: -8.5vw;
		margin-left: 10vw;
		float: right;
	}
}

@media only screen and (max-width: 768px){	
	
	.players{
		margin-right: 3.8vw;
		margin-left: .1vw;
		float: right;
	}
}

@media only screen and (max-width: 376px){	
	
	.players{
		margin-right: 11vw;
		margin-left: 2vw;
		float: right;
	}
}

@media only screen and (max-width: 320px){	
	
	.players{
		margin-right: 8vw;
		margin-left: 0vw;
		float: right;
	}
}